@model IEnumerable<EmployeeListingViewModel>


<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<hr>
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>Full Name</span></th>
                                    <th><span>Email</span></th>
                                    <th><span>Phone Number</span></th>
                                    <th><span>Birth Date</span></th>
                                    <th><span>Salary</span></th>
                                    <th><span>Completed Tasks</span></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var employee in Model)
                                {
                                    <tr>
                                        <td>
                                            <a>@employee.FirstName @employee.LastName</a>
                                        </td>
                                        <input type="hidden" asp-for="@employee.Id" />
                                        <td>@employee.Email</td>
                                        <td>@employee.PhoneNumber</td>
                                        <td>@employee.BirthDate.ToString("MM/dd/yyyy")  </td>
                                        <td>@employee.Salary</td>
                                        <td>@employee.CompletedTasks</td>
                                        <td style="width: 20%;">
                                            <a class="btn btn-primary btn-sm" asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.Id">Edit</a>
                                            <a class="btn btn-danger btn-sm" asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.Id">Delete</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>